/* WeatherData.css */

.row {
    display: flex;
    justify-content: center;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.20);
  }
  
  .text-secondary {
    color: #000000;
  }
  
  h4 {
    margin-bottom: 5px;
  }
  
  h5 {
    margin: 5px 0;
  }
  
  .icon {
    font-size: 2rem;
    margin-right: 5px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  .link {
    text-decoration: none;
    color: #1A237E;
  }
  
  .link:hover {
    text-decoration: underline;
    color: #1565c0;
  }
  